* {
  margin: 25px;
}
.nav-links {
  list-style-type: none;
  margin: 0;
  height: 100px;
  padding: 0;
  overflow: hidden;
  background-color: rgb(35, 116, 30);
}

li {
  float: left;
  padding-left: 25%;
}

li a {
  color: rgb(229, 255, 0);
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 40px;
}

li a:hover {
  background-color: rgb(255, 0, 225);
}

h1 {
  margin: 25px;
  text-align: center;
  font-size: 50px;
  text-transform: capitalize;
}
.container {
  margin: 25px;
  padding: 50px;
  text-align: center;
  font-size: 35px;
  text-transform: capitalize;
}
.btn-hero {
  /* margin: 20px;
    padding: 10px;
    text-transform: capitalize;
    font-size: large;
    font-weight: bold; */
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #5700f4;
  border: none;
  border-radius: 15px;
  /* box-shadow: 0 9px #999; */
  box-shadow: 0 9px #bcc0d1;
}

.btn-hero:hover {
  background-color: rgb(69, 127, 221);
}

.btn-hero:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
